<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector-test</title>
</head>
<body>
    <h1>INGREDIENTS</h1>

    <h2>Vegetables</h2>
    <div>V1</div>
    <div>V2</div>
    <div>V3</div>

    <h2>Protein</h2>
    <div>P1</div>
    <div>P2</div>
    <div>P3</div>

    <h2>Grains</h2>
    <div>G1</div>
    <div>G2</div>
    <div>G3</div>

    <h2>Fruits</h2>
    <div>F1</div>
    <div>F2</div>
    <div>F3</div>

</body>
</html>